body {
  font-family: sans-serif;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .wiki-content {
    display: flex; /* or inline-flex */
  }
}

.wiki-img {
  width: 100%;
}

.wiki-item {
  margin-left: 1%;
  margin-right: 5%;
  box-shadow: 5px 5px 2px grey;
}
.wiki-content {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 2%;
}
