body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.wiki-img {
  width: 100%;
}

.wiki-item {
  margin-left: 1%;
  margin-right: 5%;
  box-shadow: 5px 5px 2px grey;
}
.wiki-content {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
