body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.wiki-img {
  width: 100%;
  min-width: 50%;
  max-width: 50%;
}

.wiki-text {
  min-width: 50%;
  max-width: 50%;
}

.wiki-item {
  margin-left: 1%;
  margin-right: 5%;
  box-shadow: 5px 5px 2px grey;
}
.wiki-content {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 2%;
}

@media (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-direction: row-reverse;
  }
}
